{% extends "edu/dashboard.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
{#    <link href="https://cdn.bootcss.com/datatables/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'plugins/DataTables-1.10.18/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% block content-header %}
        {% endblock %}
    </section>

    <section class="content">
        {% block search_header %}
        {% endblock %}
        {% block content_body %}
        <div class="row">
            <div>
                <table id="table_id" class="table table-striped table-bordered table-hover">
                    <thead>
                    <!--表格头部-->
                    <td></td>
                    {% block table_tr %}
                    {% endblock %}
                    </thead>
                    <!--表格内容-->
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <!--通过for循环从data取出的具体表格内容-->
                            <td>{{ forloop.counter }}</td>
                            {% block table_td %}
                            {% endblock %}
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <!--引入pagination.html-->
            {% block include_pagination %}
                {% include 'pagination.html' %}
            {% endblock %}
        </div>
        {% endblock %}
        {% block content_footer %}
        {% endblock %}
    </section>

{% endblock %}

{% block script %}
{#    <script src="https://cdn.bootcss.com/datatables/1.10.19/js/jquery.dataTables.min.js"></script>#}
{#    <script src="https://cdn.bootcss.com/datatables/1.10.19/js/dataTables.bootstrap.js"></script>#}
    <script src="{% static 'plugins/DataTables-1.10.18/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables-1.10.18/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.select.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'plugins/initItems.js' %}"></script>

    {% block othersScript %}
    {% endblock %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% block initTables %}
                var t = initSortTable($('#table_id'));
            {% endblock %}
            {% block initDatePicker %}
            {% endblock %}
            {% block initSelect %}
            {% endblock %}
            {% block initOthers %}
            {% endblock %}
        });
    </script>
{% endblock %}