{% extends "edu/res_list.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content-header %}
    <h1> 列表
    </h1>
    <ol class="breadcrumb">
        <button type="button" class="btn btn-warning center-block" data-toggle="modal" data-target="#myModal">
            新建期次
            <i class="ace-icon fa fa-shopping-cart icon-on-right bigger-110"></i>
        </button>
    </ol>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建期次</h4>
                </div>
                <form method='POST' id="signupForm" action="" onsubmit="return check();">{% csrf_token %}
                    <div class="modal-body">
                        {{ form | crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'delete_warn.html' %}
{% endblock %}

{% block table_tr %}
    <td>名称</td>
    <td>地址</td>
    <td>开始日期</td>
    <td>结束日期</td>
    <td>操作</td>
{% endblock %}
{% block table_td %}
    <td><a class="green" href="{% url 'school_detail' item.id %}"
           title="查看信息">
        {{ item.name }}
    </a></td>
    <td>{{ item.address }}</td>
    <td>{{ item.begin_date }}</td>
    <td>{{ item.end_date }}</td>
    <td><a class="btn btn-danger" id="myModalLabel" onClick="delcfm('{% url 'school_delete' item.id %}')">删除</a>
    </td>
{% endblock %}


{% block initDatePicker %}
    initDatePicker($('#id_begin_date'));
    initDatePicker($('#id_end_date'));
{% endblock %}

{% block othersScript %}
    <script type="text/javascript">
        function delcfm(url) {
            $('#url').val(url);//给会话中的隐藏属性URL赋值
            $('#delcfmModel').modal();
        }

        function urlSubmit() {
            var url = $.trim($("#url").val());//获取会话中的隐藏属性URL
            window.location.href = url;
        }
    </script>
{% endblock %}
