{% extends "edu/res_list_with_form.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content-header %}
    <h1>
        导入记录
    </h1>
                <a class="btn  btn-flickr"  href="{% url 'school_export' pk %}"><i class="fa glyphicon-export">导出</i></a>

    {% include 'delete_warn.html' %}

{% endblock %}

{% block table_tr %}
    <td>导入时间</td>
    <td>期次</td>
    <td>条数</td>
    <td>备注</td>
    <td>操作</td>
{% endblock %}
{% block table_td %}
    <td><a class="green" href="{% url 'student_import_detail' item.id %}"
           title="查看信息">
        {{ item.pub_date }}
    </a></td>
    <td>{{ item.education }}</td>
    <td>{{ item.data_count }}</td>
    <td>{{ item.remarks }}</td>
    <td><a class="btn btn-danger"  id="myModalLabel"  onClick="delcfm('{% url 'student_import_delete' item.id %}?fromurl={{ request.build_absolute_uri }}')">删除</a>
                </td>
{#    <td>{% if item.is_saved%}#}
{#            <span class="label label-success">是#}
{#        {% else %}#}
{#            <span class="label label-danger">否#}
{#        {% endif %}#}
{#        </span></td>#}
{% endblock %}
{% block form %}
    <form method='POST' id="signupForm" action=""  enctype="multipart/form-data">{% csrf_token %}
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">新建导入</h3>
            </div>
            <div class="box-body">
                {{ form |crispy }}
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
{% endblock %}

    {% block othersScript %}
        <script type="text/javascript">
        function delcfm(url) {
          $('#url').val(url);//给会话中的隐藏属性URL赋值
          $('#delcfmModel').modal();
        }
        function urlSubmit(){
           var url=$.trim($("#url").val());//获取会话中的隐藏属性URL
           window.location.href=url;
        }
    </script>

    {% endblock %}