{% extends "edu/dashboard.html" %}
{% load staticfiles %}
{% load humanize %}

{% load crispy_forms_tags %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            账号
            <small>修改密码</small>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <form method='POST' action=''>{% csrf_token %}
                <!-- left column -->
                <div class="col-md-4">

                    <div class="box box-danger">
                        <div class="box-body">
                            <ul>
                                <li>你的密码不能与其他个人信息太相似。</li>
                                <li>你的密码必须包含至少 8 个字符。</li>
                                <li>你的密码不能是大家都爱用的常见密码。</li>
                                <li>你的密码不能全部为数字。</li>
                            </ul>
                            {{ form | crispy }}

                        </div>


                        <div class="box-footer">
                            <input class="btn btn-primary" value="提交" type="submit">
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>


            </form>
        </div>
    </section>

{% endblock %}

{% block script %}
    <!-- page script -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/initItems.js' %}"></script>

    <script type="text/javascript">


        $(document).ready(function () {
            initSortTable($('#table_id'));
        });
    </script>

{% endblock %}